{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}


    <h1>Todo</h1>
    

    <form action="/" method="POST">
        <input required type="text" name="content" id="content">
        <input type="submit" value="Add Task">
    </form>

    <table>
        <tr>
            <th>Task</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td>{{ task.content }}</td>
            <td>
                <a href="delete/{{task.id}}">Delete</a><br>
                <a href="update/{{task.id}}">Update</a>
                

            </td>
        </tr>
        {% endfor %}
    </table>


{% endblock %}