{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <div class="row"> 
    <div class="col-md-12">
        <h1>Todo</h1>
    </div>
    <div class="col-md-12">
        <form action="/" method="POST">
            <input required type="text" name="content" id="content">
            <input type="submit" value="Add Task" class="btn btn-outline-secondary">
        </form>    
    </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <span class="badge badge-secondary">Task</span>
            <span class="badge badge-secondary">Actions</span>    
        </div>
        <div class="col-md-4">
            <span class="badge badge-secondary">Task</span>
            <span class="badge badge-secondary">Actions</span>   
        </div>
        <div class="col-md-4">
            <span class="badge badge-secondary">Task</span>
            <span class="badge badge-secondary">Actions</span>  
        </div>
            {% for task in tasks %}
            <div class="col-md-4">
                {{ task.content }}
                <div class="btn-group-vertical btn-group-sm" role="group" aria-label="Toolbar with button groups">
                    <a href="delete/{{task.id}}" class="btn btn-outline-secondary">
                        Delete
                    </a>
                    <a href="update/{{task.id}}" class="btn btn-outline-secondary">
                        Update
                    </a>   
                </div>
    
            </div>
            {% endfor %}

    

  </div>


    




{% endblock %}